<md-list layout-fill>
  <md-item>
    <md-item-content>
      <div class="md-tile-left">
        <i class="fa fa-user fa-2x"></i>
      </div>
      <div class="md-tile-content" flex>
        <md-input-container>
          <label>Benutzername</label>
          <input ng-model="config.user" placeholder="Wie heißt der Benutzer der Todo-Liste?">
        </md-input-container>
      </div>
    </md-item-content>
    <md-divider></md-divider>
  </md-item>
  <!--md-item>
    <md-item-content>
      <div class="md-tile-left">
        <i class="fa fa-trash fa-2x"></i>
      </div>
      <div class="md-tile-content" flex>
        <md-button class="md-warn md-raised md-hue-2"><i class="fa fa-warning"></i> LocalStorage leeren</md-button>
      </div>
    </md-item-content>
    <md-divider></md-divider>
  </md-item-->
</md-list>
