<!doctype html>
<html lang="de" ng-app="todoList" ng-controller="TodoCtrl" ng-init="init()">

<head>
  <meta charset="utf-8">
  <title>{{config.user}}'s Todo Liste</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="a simple todo app with angular">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body layout="row">
  <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar>
      <h1 class="md-toolbar-tools">
        <a ng-href="index.html" href="index.html">
          <i class="fa fa-list-alt"></i> {{config.user}}'s Todo Liste
        </a>
      </h1>
    </md-toolbar>
    <md-content layout="column" flex role="navigation">
      <ul class="todo-menu">
        <li>
          <form ng-submit="addList()">
            <md-input-container>
              <label>Neue Liste erstellen</label>
              <input ng-model="newList" placeholder="Wie soll die neue Liste heißen?">
            </md-input-container>
          </form>
        </li>
        <li><a href="#/" class="md-button"><i class="fa fa-list"></i> Todo-Listen</a></li>
        <li><a href="#/einstellungen" class="md-button"><i class="fa fa-cogs"></i> Einstellungen</a></li>
        <li><a href="#/impressum" class="md-button"><i class="fa fa-legal"></i> Impressum</a></li>
      </ul>
      <div flex></div>
      <ul class="todo-menu">
        <li>
          <md-switch ng-model="config.showDone" aria-label="Erledigte Aufgaben einblenden?">
            Erledigte Aufgaben einblenden?
          </md-switch>
        </li>
      </ul>
    </md-content>
  </md-sidenav>
  <div layout="column" tabIndex="-1" role="main" flex>

    <ng-view></ng-view>

  </div>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/hammerjs/hammer.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
